<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCtTMrMrn-zGk4rQpXgPGY8-wtSiGjEpck</string>
	<key>GCM_SENDER_ID</key>
	<string>37435806739</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Hackathon.TrashFix</string>
	<key>PROJECT_ID</key>
	<string>trashfix-e3b6f</string>
	<key>STORAGE_BUCKET</key>
	<string>trashfix-e3b6f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:37435806739:ios:3b53e8192f785245f4dbe6</string>
	<key>DATABASE_URL</key>
	<string>https://trashfix-e3b6f-default-rtdb.firebaseio.com</string>
</dict>
</plist>